# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Models & large artifacts
#models/
#checkpoints/
*.pt
*.bin

# Streamlit / cache
.streamlit/
.cache/

# OS
.DS_Store
Thumbs.db
